<p id="notice"><%= notice %></p>

<h1>Каталог квартир</h1>

<table>
  <thead>
    <tr>
      <th>Адрес</th>
      <th>Комментарий</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td><%= flat.address %></td>
        <td><%= flat.comment %></td>
        <td><%= link_to 'Просмотр', flat %></td>
        <td><%= link_to 'Редактирование', edit_flat_path(flat) %></td>
        <td><%= link_to 'Удаление', flat, method: :delete, data: { confirm: "Вы действительно хотите удалить квартиру \"#{flat.address}\"?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить квартиру', new_flat_path %><br>
<%= link_to 'На главную', root_path %>
