<p id="notice"><%= notice %></p>

<h1>Каталог квартир</h1>

<table>
  <thead>
    <tr>
      <th>Адрес</th>
      <th>Собственник</th>
      <th>Комментарий</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td><%= flat.address %></td>
        <td><%= "#{flat.user.name} (#{flat.user.email})" %></td>
        <td><%= flat.comment %></td>
        <% if current_user.is_admin %> 
          <td><%= link_to 'Просмотр', flat %></td>
        <% else %>
          <td><%= link_to 'дать показания', flat %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.is_admin %> 
  <%= link_to 'Добавить квартиру', new_flat_path %><br>
<% end %>
<%= link_to 'На главную', root_path %>
